.projects {
    background-color: lightyellow;
    border: 2px solid yellow;
    border-radius: 10px;
    font-size: 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project {
    background-color: lightsalmon;
    border: 2px solid salmon;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.task {
    background-color:lightpink;
    padding: 10px;
    border: 2px solid pink;
    border-radius: 10px;
}

.project > .project-name,
.task > .task-name {
    font-weight: 600;
}

.header {
    display: flex;
    justify-content: space-between;
}

.delete {
    background-color: red;
    color: white;
    border: 2px solid darkred;
    border-radius: 5px;
    cursor: pointer;
}

.delete:hover {
    background-color: darkred;
}

form {
    background-color: aliceblue;
    border: 2px solid darkblue;
    border-radius: 5px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto;
    gap: 10px;
}

form > input,
form > label,
div > input {
    font-size: 30px;
}