.projects {
    background-color: lightyellow;
    border: 2px solid yellow;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project {
    background-color: lightsalmon;
    border: 2px solid salmon;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.task {
    background-color:lightpink;
    border: 2px solid pink;
}